<div class="container-fluid fundo">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 fundo-img mg-top">
      <section class="top-mg">
        <form class="form" [formGroup]="meusUser" (ngSubmit)="loginUser()">
          <div class="formGroup">
            <label for="">*Usuário</label>
            <input class="form-control"  maxlength="50" type="text" name="username" placeholder="Digite seu nome" formControlName="username">
            <span *ngIf="meusUser.get('username').errors && (meusUser.get('username').dirty || meusUser.get('username').touched)">
              <p class="erro">Nome obrigatório</p>
            </span>
          </div>
          <div class="formGroup">
            <label for="">*Senha</label>
            <input class="form-control" maxlength="50" type="password" name="senha" placeholder="Digite sua senha" formControlName="senha">
            <span *ngIf="meusUser.get('senha').errors && (meusUser.get('senha').dirty || meusUser.get('senha').touched)">
              <p class="erro">Senha obrigatório</p>
            </span>
          </div>
          <div class="login">
            <button [disabled]="!bloqueiarBotao()" class="button text-light bg-danger " type="submit">LOGIN</button>
          </div>
        </form>
      </section>
    </div>
    
  </div>
</div>
