.altura {
  height: 30px;
  background-color: red;
}
.altura-1 {
  height: 30px;
  background-color: #000;
}
.cor{
  color: #fff;
  font-size: 16px;
  padding-top: 5px;
}
.dta {
  float: right;
}
.left-menu {
  background-color: #333;
  color: #fff;
  margin-top: 50px;
}
.left-menu a {
  color: #fff;
  text-decoration: none;
  background-color: #333;
}

