<div class="container-full">
  <div class="row">
    <div class="col-md-12 altura">

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 altura-1">
      <h1 class="cor"><span >{{ titulo | uppercase }}</span><span class="dta">{{ data | date : 'dd/MM/yyyy HH:mm' }}</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="button bg-sucess" routerLink="home">Home</button>
    </div>
  </div>

</div>

<div>
  <router-outlet></router-outlet>
</div>


